fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* body {
    background-color: blue;
} */

.entry {
    border: black solid 2px;
    padding: 10px;
    margin: 5px;
}

