fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* body {
    background-color: blue;
} */

.entry {
    border: black solid 2px;
    padding: 10px;
    margin: 5px;
}

.page_title {
    text-align: center;
}

label {
font-weight: bold;
}

#searchNFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly

}

#selectMood {
    flex-basis: 40%
}

#searchBox {
    flex-basis: 40%
}

#searchInput {
    width: 100%
}
/*
.hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  } */